<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:aop="http://www.springframework.org/schema/aop"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans-4.3.xsd
        http://www.springframework.org/schema/aop
        http://www.springframework.org/schema/aop/spring-aop.xsd">
	<aop:aspectj-autoproxy proxy-target-class="true"/>
	<bean name="logging" class="cn.catecat.aop.Logging"/>
<!-- 	<aop:config>
		<aop:pointcut expression="execution(public * cn.hua.controller.UserController.login*(..))" id="loginPoint"/>
		<aop:aspect ref="logging">
			<aop:around method="loginHandle" pointcut-ref="loginPoint"/>
		</aop:aspect>
	</aop:config> -->
	<aop:config>
		<aop:pointcut expression="execution(public * cn.catecat.*.action.*.*(..))" id="controllerPoint"/>
		<aop:aspect ref="logging">
			<aop:around method="jurisdiction" pointcut-ref="controllerPoint"/>
		</aop:aspect>
	</aop:config>
</beans>
